body {
    background: #ffc9c9;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0;
}

nav {
   
}

#info {
    background-color: #ffec99(237, 221, 83, 1);
    max-width: 50rem; 
    margin: 0 auto;
    padding: 0rem;
    border-radius: 30px;
}

section {
    background-image: url(https://storage.ghost.io/c/80/1d/801d5d13-5875-4136-9bfc-1e2fe01b2bff/content/images/size/w1000/2020/08/Unsplash_Civil_Rights_005_BW.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

section {

}

button {
    background-color: #ffec99;
    padding: 20px 50px;
    margin: 0 auto;
    border-radius: 12px;
    border: 2px black;
    border-style:hidden;
}

#startbutton {
    background-color: #ffec99;
    padding: 20px 50px;
    margin: 0 auto;
    border-radius: 12px;
    border: 2px black;
    border-style:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    min-width: 1000px;
}

ul{
    text-align: center;
    margin: 10;
    padding: 0;
}


h1 {
    font-size:xxx-large;
    text-align: center;
    padding: 2rem;
    color: #d13e3e;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size:x-large;
    background-color: #ffc9c9;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

footer {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}